MongoDb__ConnectionString=mongodb+srv://SEU_USUARIO:SUA_SENHA@cluster0.ykwsqdc.mongodb.net/?appName=Cluster0
MongoDb__DatabaseName=macaw_english_school
ASPNETCORE_URLS=http://+:8080
Gemini__ApiKey=SUA_CHAVE_DA_API_GEMINI
